article {
    border: 1px solid silver;
    margin: 10px;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section {
    text-align: center;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#crear {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #99FFFF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #009999;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#crear:hover,#crear:active,#crear:focus {
  background: #009999;
  color: #FFFFFF;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #04FFFF, #AAFFFF);
    background: -moz-linear-gradient(right, #04FFFF, #AAFFFF);
    background: -o-linear-gradient(right, #04FFFF, #AAFFFF);
    background: linear-gradient(to left, #04FFFF, #AAFFFF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
/*
form {
    display: inline-block;
    border: 1px solid silver;
    padding: 10px;

}

input {
    display: block;
    margin-bottom: 10px;

}

#crear {
    display: inline-block;
}

*/

div {
    margin-top: 5px;
}



@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}